
<div class="side-bar-header">
  <div class="create-room">
    <a href="#">ルームを作成</a>
  </div>
  <div class="enter-room">
    <a href="#">ルームに参加</a>
  </div>
</div>

<div class="rooms">
  <h2 class='room-title'>< ルーム一覧 ></h2>
  <%# eachメソット適応未 %>
  <div class="room">
    <div class="room-name">
      <a href="#">ルームタイトル1</a>
    </div>
    <div class='detail'>
      <%= "game title"%><br><%= "platform  "%>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">ルームタイトル2</a>
    </div>
    <div class='detail'>
      <%= "game title"%><br><%= "platform  "%>
    </div>
  </div>
</div>