<div class="header">
  <%= render "shared/header" %>
</div>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Room Lists</h2>
      <h5>入室するルームを選択</h5>
    </div>
    <div class="rooms">
    <% @rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
        <div class='detail'>
          <%= "ゲームタイトル #{room.game.name}"%><br><%= "プラットフォーム #{room.platform.name}"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

